@import "partials/normalize";
@import "partials/variables";

html, body {
	font-family: 'Lato', Myriad, sans-serif;
	font-size: 16px;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
	position: relative;
	@include clearfix;
	nav {
		position: absolute;
		top: 1.2rem;
		left: 18%;
		.current-page {
			opacity: 1;
			color: $gray;
			border-bottom: 3px solid rgba($gray, 0.9);
		}
		a {
			font-size: 1.05rem;
			color: $lightgray;
			text-decoration: none;
			padding: 5px;
			padding-bottom: 14px;
			margin-right: 0.9rem;
			transition: all 0.35s;
			opacity: 0.8;

			&:hover {
				color: $gray;
				opacity: 1;
			}
			&:first-of-type {
				padding-left: 0;
			}
		}
	}
}

.current-tab {
	opacity: 1 !important;
}

.bold {
	font-weight: 700;
}

.notify {
	position: relative;
	&:after {
		content: "";
		position: absolute;
		width: 1rem;
		height: 1rem;
		top: -0rem;
		right: -0.4rem;
		background-image:url("../img/notify.png");
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.header-inner {
	@include clearfix;
	background-color: #F0F0F0;
	position: relative;
	h1 {
		font-family: 'Alegreya', Garamond, serif;
		font-size: 1.35rem;
		padding: 0.9rem 1rem 0.9rem 0;
		display: inline-block;
		margin-left: 1.5rem;
	}
	
	.search-container {
		display: inline-block;
		width: 16%;
		margin-right: 18%;
		float: right;
		position: relative;
		.search-bar {
			display: inline-block;
			border: 1px solid rgba($lightgray, 0.3);
			margin-top: 0.87rem;
			height: 1.7rem;
			border-radius: 15px;
			width: 100%;
		}
		&:after {
			content: "";
			background-image: url("../img/questionmark.png");
			background-size: contain;
			background-repeat: no-repeat;
			width: 0.9rem;
			height: 0.9rem;
			right: 1rem;
			top: 1.3rem;
			opacity: 0.6;
			position: absolute;
		}
	}
	.settings {
		width: 1.8rem;
		height: 1.8rem;
		background-image: url("../img/anchor.png");
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		right: 1.5rem;
		top: 0.8rem;
		opacity: 0.8;
	}
}

.main-content {
	clear: both;
	margin-top: 3.5rem;
	width: 64;
	margin-left: 18%;
	margin-right: 18%;
}

.self-snippet {
	width: 28%;
	float: left;
	.profile-img {
		float: left;
		width: 48%;
	}
	.self-intro {
		width: 48%;
		float: right;
		color: $lightgray;
		.my-name {
			color: $gray;
		}
		.twitter-handle {
			font-weight: 400;
		}
		p {
			margin-top: 0.8rem;
			font-size: 0.8rem;
			font-weight: 300;
		}
	}
	.self-status {
		color: $gray;
		clear: both;
		padding-top: 1.2rem;
		h3 {
			position: relative;
			span {
				color: $lightgray;
				font-weight: 400;
			}
			&:after {
				content: "";
				position: absolute;
				top: 0.2rem;
				left: 8.4rem;
				background-image: url('../img/checkmark.png');
				background-size: contain;
				background-repeat: no-repeat;
				width: 0.9rem;
				height: 0.9rem;
			}
		}
		p {
			margin-top: 0.5rem;
			color: $lightgray;
			font-weight: 300;
		}
		a {
			color: $gray;
			font-weight: 300;
			display: inline-block;
			margin-top: 0.5rem;
		}
	}
}

.feed {
	width: 70%;
	float: right;
}

.status-update {
	input {
		width: 100%;
		border-radius: 2rem;
		border: none;
		border: 2px solid rgba($lightgray, 0.3);
		padding: 0.7rem 1.4rem;
		font-size: 1.1rem;
		 @include input-placeholder {
            color: rgba($lightgray, 0.5);
        }
	}
}

.friend-feed {
	color: $gray;
	margin-top: 2.5rem;
	margin-bottom: 5rem;

	.blue {
		color: rgba(#3FA1FF, 0.9);
	}
	.more-link {
		text-decoration: underline;
	}
	.entry {
		clear: both;
		margin-bottom: 1.3rem;
		@include clearfix;
	}
	.profile-img {
		width: 6%;
		float: left;
	}
	.entry-content {
		width: 92.7%;
		float: right;
		h3 span {
			color: rgba($lightgray, 0.75);
			font-size: 0.85rem;
			font-weight: 400;
		}
		p {
			font-weight: 300;
		}
		.with-img {
			width: 65%;
			float: left;
		}
		img {
			width: 34%;
			float: right;
		}
	}
}

.social-buttons {
	clear: both;
	margin-top: 0.1rem;
	float: right;
	a {
		@include social-buttons;
	}
}

#overlay, #overlay2 {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: block;
	background-color:rgba(black, 0.8);
	z-index: $z100;
}

#confirm-box, #confirm-box2 {
	color: $gray;
	width: 40%;
	margin: 15% 30%;
	background-color: white;
	border-radius: 0.5rem;
	padding: 3rem 2rem;
	p {
		font-size: 1.2rem;
		margin-right: 10%;
		margin-bottom: 1.5rem;
		&:hover {
			cursor: pointer;
		}
	}
	.response-buttons, .response-buttons2 {
		button {
			&:first-of-type {
				margin-right: 0.5rem;
			}
			padding: 0.5rem 1rem;
			text-align: center;
			border: 1px solid $gray;
			border-radius: 0.2rem;
			background-color: white;
		}
	}
	.response-buttons2 {
		button {
			&:first-of-type {
				margin-right: 1.8%;
			}
			width: 48%;
			display: inline-block;
			text-align: left;
			transition: all .35s;
			&:hover {
				background-color: $gray;
				color: white;
			}
		}
	}
}





